body {
  background-color: rgba(10, 200, 180, 20);
  margin: 0;
  padding: 0;
}

.App {
  border: 2px solid green;
  margin-top: 20%;
  width: 60%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: #fff;
}

form {
  width: 60%;
  display: flex;
  justify-content: space-between;
}

form button {
  font-size: 40px;
}

form button,
li button {
  border: none;
  padding: 0;
  margin: 0;
  background-color: #fff;
  color: rgba(10, 200, 180, 20);
}

form input {
  padding: 10px;
  width: 100%;
  border-radius: 16px 16px;
  border-color: rgba(10, 200, 180, 20);
}

ul {
  display: flex;
  flex-direction: column;
  list-style: none;
  width: 70%;
  padding: 8px;
}

li {
  display: flex;
  justify-content: space-between;
}

.checked {
  text-decoration: line-through;
  color: rgba(10, 200, 180, 20);
}
