#root {
 padding-top: 10%;
}

body {
  background-color: rgba(10, 200, 180, 20);
  margin: 0;
  padding: 0;
}

.App {
  width: 40%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: #fff;
}

form {
  width: 60%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border: 1px solid;
  border-radius: 16px 16px;
  border-color: rgba(10, 200, 180, 20);
}

form button {
  font-size: 20px;
}

form button,
li button {
  border: none;
  padding: 0;
  margin: 0;
  background-color: #fff;
  color: rgba(10, 200, 180, 20);
}

form input {
  padding: 10px;
  width: 100%;
  border: none;
}

ul {
  display: flex;
  flex-direction: column;
  list-style: none;
  width: 70%;
  padding: 8px;
}

li {
  display: flex;
  justify-content: space-between;
}

.checked {
  text-decoration: line-through;
  color: rgba(10, 200, 180, 20);
}
